<div class="row">
    <div class="col-lg-12">
       <div class="add-firm-component">
          <div class="card card-main">
             <div class="card-header card-header-main">
                <div class="row">
                   <div class="col-auto mr-auto">{{title}} Firm</div>
                   <div class="col-auto">
                      <a class="btn btn-back" [routerLink]="[sourceURL]" title="Back">
                         <fa name="chevron-left"></fa>
                         Back
                      </a>
                   </div>
                </div>
             </div>
             <div class="card-body">
                <form ngForm name="form" (ngSubmit)="f.valid && saveFirm(f)" #f="ngForm">
                <p-growl [(value)]="msgs" [life]="msgTimeSpan"></p-growl>
                <div>
                   <h5> Firm Details</h5>
                   <div class="row">
                      <div class="col-sm-6 col-lg-4 ">
                         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !FirmName.valid }">
                            <div class="row">
                               <div class="col-12">
                                  <label for="FirmName">Firm Name</label>
                               </div>
                               <div class="col-12">
                                  <input type="text" class="form-control" name="FirmName"
                                  [(ngModel)]="model.firmName" #FirmName="ngModel"
                                  validateBusinessName autocomplete="off" maxlength="100"
                                  validateRequired />
                                  <div *ngIf="FirmName.invalid && (FirmName.dirty|| f.submitted)"
                                     class="text-danger">
                                     <p
                                        *ngIf="!FirmName.errors.validateRequired && FirmName.errors.validateBusinessName">
                                        Please enter valid firm name
                                     </p>
                                     <p *ngIf="FirmName.errors.validateRequired">Firm name is required
                                     </p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-sm-6 col-lg-4 ">
                         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Website.valid }">
                            <div class="row">
                               <div class="col-12">
                                  <label for="Website">Website</label>
                               </div>
                               <div class="col-12">
                                  <input type="text" class="form-control" name="Website"
                                  [(ngModel)]="model.website" #Website="ngModel" validateURL
                                  autocomplete="off" maxlength="100" />
                                  <div *ngIf="Website.invalid && (Website.dirty ||f.submitted)"
                                     class="text-danger">
                                     <p *ngIf="Website.errors.validateURL">Please provide a valid website
                                        url
                                     </p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-sm-12 col-xl-12">
                         <div class="form-group"
                            [ngClass]="{ 'has-error': f.submitted && !BusinessDescription.valid }">
                            <div class="row">
                               <div class="col-12">
                                  <label for="BusinessDescription">Business Description</label>
                               </div>
                               <div class="col-12">
                                  <textarea type="text" class="form-control" rows="4"
                                  name="BusinessDescription" [(ngModel)]="model.businessDescription"
                                  #BusinessDescription="ngModel" autocomplete="off"
                                  maxlength="500"></textarea>
                                  <div *ngIf="!BusinessDescription.valid && (BusinessDescription.dirty||f.submitted)"
                                     class="text-danger">
                                     <p
                                        *ngIf="(BusinessDescription.dirty) || BusinessDescription.errors.validateRequired">
                                        Business description is required
                                     </p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <ngb-tabset>
                   <ngb-tab title="Geographic Locations">
                      <ng-template ngbTabContent>
                         <div class="row">
                            <div class="col-sm-12">
                               <form ngForm name="geographyForm" #geographyForm="ngForm">
                                  <div [ngClass]="{ 'has-error': f.submitted }">
                                     <div *ngIf="masterModel==undefined">
                                        <img src="assets/dist/images/loading.gif" class="loading-img" />
                                     </div>
                                     <div *ngIf="masterModel!=undefined">
                                        <div class="location-con">
                                           <location-control name="locations"
                                           [(ngModel)]="geographicLocation"
                                           [locationMaster]="masterModel" [countryRequired]="true"
                                           #Locations="ngModel">
                                           </location-control>
                                           <!-- {{geographicLocation | json}} -->
                                           <div class="row">
                                              <div class="col-12">
                                                 <div class="form-group">
                                                    <label for="IsHeadquarter"
                                                       class="display-inline">Is
                                                    Headquarter</label> &nbsp;&nbsp;
                                                    <input type="checkbox" value=""
                                                    name="IsHeadquarter"
                                                    [(ngModel)]="geographicLocation.isHeadquarter"
                                                    #IsHeadquarter="ngModel">
                                                    <!--<div *ngIf="locationErrorMsg" class="alert alert-danger">{{locationErrorMsg}}</div>-->
                                                 </div>
                                              </div>
                                           </div>
                                           <div class="row">
                                              <div class="col-12">
                                                 <div class="form-group">
                                                    <div class="row">
                                                       <div class="col-md-12 col-lg-12">
                                                          <div class="add-control-btn">
                                                             <a class="nep-button nep-button-primary"
                                                                (click)="addGeographicLocation(geographyForm)"
                                                                title="Add Location">Add
                                                             Location</a>
                                                             <a class="nep-button nep-button-secondary"
                                                                (click)="clearGeographicLocation(geographyForm)"
                                                                title="Clear">Clear</a>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </form>
                               <div class="table-responsive">
                                  <table class='table table-bordered'
                                     *ngIf="model.geographicLocations.length>0">
                                     <thead>
                                        <tr>
                                           <th>Region</th>
                                           <th>Country</th>
                                           <th>State</th>
                                           <th>City</th>
                                           <th>Is Headquarter</th>
                                           <th>Remove</th>
                                        </tr>
                                     </thead>
                                     <tbody>
                                        <tr *ngFor="let location of model.geographicLocations">
                                           <td><span
                                              *ngIf="location.region">{{ location.region.region  }}</span>
                                           </td>
                                           <td><span
                                              *ngIf="location.country">{{ location.country.country  }}</span>
                                           </td>
                                           <td><span
                                              *ngIf="location.state">{{ location.state.state }}</span>
                                           </td>
                                           <td><span
                                              *ngIf="location.city">{{ location.city.city }}</span>
                                           </td>
                                           <td><span>{{location.isHeadquarter?"Yes":"No"}} </span></td>
                                           <td>
                                              <span
                                                 (click)="removeLocation(location.uniquelocationID)">
                                                 <a
                                                    class="btn btn-remove" title="Remove Location">
                                                    <fa name="trash"></fa>
                                                 </a>
                                              </span>
                                              <input type="hidden"
                                                 value="{{location.uniquelocationID}}" />
                                           </td>
                                        </tr>
                                     </tbody>
                                  </table>
                               </div>
                            </div>
                         </div>
                      </ng-template>
                   </ngb-tab>
                   <ngb-tab title="Investment Professionals">
                      <ng-template ngbTabContent>
                         <div class="row">
                            <div class="col-sm-12">
                               <form name="employeeForm" #employeeForm="ngForm">
                                  <div class="row">
                                     <div class="col-sm-6 col-xl-4 ">
                                        <div class="form-group"
                                           [ngClass]="{ 'has-error': f.submitted }">
                                           <div class="row">
                                              <div class="col-12">
                                                 <label for="EmployeeName">Employee Name</label>
                                              </div>
                                              <div class="col-12">
                                                 <input type="text" class="form-control"
                                                 name="EmployeeName"
                                                 [(ngModel)]="firmEmployee.employeeName"
                                                 #EmployeeName="ngModel"
                                                 inputValidator="validatePersonName"
                                                 autocomplete="off" maxlength="100"
                                                 validateRequired />
                                                 <div *ngIf="EmployeeName.invalid && (EmployeeName.dirty|| employeeForm.submitted)"
                                                    class="text-danger">
                                                    <p *ngIf="EmployeeName.errors.validateRequired">
                                                       Employee name is required
                                                    </p>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="col-sm-6 col-xl-4 ">
                                        <div class="form-group"
                                           [ngClass]="{ 'has-error': f.submitted }">
                                           <div class="row">
                                              <div class="col-12">
                                                 <label for="Designation">Designation</label>
                                              </div>
                                              <div class="col-12">
                                                 <typeahead-control name="designation"
                                                 [(ngModel)]="firmEmployee.designation"
                                                 [optionList]="designationList"
                                                 [displayField]="'designation'"
                                                 #designation="ngModel" [isRequired]="undefined">
                                                 </typeahead-control>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="col-sm-6 col-xl-4 ">
                                        <div class="form-group"
                                           [ngClass]="{ 'has-error': f.submitted }">
                                           <div class="row">
                                              <div class="col-12">
                                                 <label for="EmployeeEmail">Employee Email</label>
                                              </div>
                                              <div class="col-12">
                                                 <input type="text" class="form-control"
                                                 name="EmployeeEmail"
                                                 [(ngModel)]="firmEmployee.emailId"
                                                 #EmployeeEmail="ngModel" validateEmail
                                                 autocomplete="off" maxlength="100"
                                                 validateRequired />
                                                 <div *ngIf="EmployeeEmail.invalid && (EmployeeEmail.dirty ||employeeForm.submitted)"
                                                    class="text-danger">
                                                    <p
                                                       *ngIf="!EmployeeEmail.errors.validateRequired && EmployeeEmail.errors.validateEmail">
                                                       Please enter valid email address
                                                    </p>
                                                    <p
                                                       *ngIf="EmployeeEmail.errors.validateRequired">
                                                       Employee email is required
                                                    </p>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="col-sm-6 col-xl-4 ">
                                        <div class="form-group"
                                           [ngClass]="{ 'has-error': f.submitted }">
                                           <div class="row">
                                              <div class="col-12">
                                                 <label for="Education">Education</label>
                                              </div>
                                              <div class="col-12">
                                                 <input type="text" class="form-control"
                                                 name="Education"
                                                 [(ngModel)]="firmEmployee.education"
                                                 #Education="ngModel" autocomplete="off"
                                                 inputValidator="noSpecialChars"
                                                 maxlength="100" />
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="col-sm-6 col-xl-4 ">
                                        <div class="form-group"
                                           [ngClass]="{ 'has-error': f.submitted }">
                                           <div class="row">
                                              <div class="col-12">
                                                 <label for="PastExperience">Past Experience</label>
                                              </div>
                                              <div class="col-12">
                                                 <input type="text" class="form-control"
                                                 name="PastExperience"
                                                 [(ngModel)]="firmEmployee.pastExperience"
                                                 #PastExperience="ngModel"
                                                 inputValidator="noSpecialChars"
                                                 autocomplete="off" maxlength="500" />
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="row">
                                     <div class="clearfix"></div>
                                     <div class="col-sm-6 col-xl-4 ">
                                        <div class="form-group">
                                           <div class="row">
                                              <div class="col-12 col-md-6 col-lg-12">
                                                 <div class="add-control-btn">
                                                    <a class="nep-button nep-button-primary"
                                                       (click)="addEmployees(employeeForm)"
                                                       title="{{employeeEditMode?'Update':'Add'}} Professional">{{employeeEditMode?"Update":"Add"}}
                                                    Professional</a>
                                                    <a class="nep-button nep-button-secondary"
                                                       (click)="clearEmployees(employeeForm)"
                                                       title="Clear">Clear</a>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </form>
                               <div class="table-responsive">
                                  <!-- {{model|json}} -->
                                  <table class='table table-bordered'
                                     *ngIf="model.firmEmployees?.length>0">
                                     <thead>
                                        <tr>
                                           <th>Employee Name</th>
                                           <th>Designation</th>
                                           <th>Employee Email</th>
                                           <th>Education</th>
                                           <th>Past Experience</th>
                                           <th>Action</th>
                                        </tr>
                                     </thead>
                                     <tbody>
                                        <tr *ngFor="let employee of model.firmEmployees">
                                           <td><span
                                              *ngIf="employee.employeeName">{{ employee.employeeName  }}</span>
                                           </td>
                                           <td><span
                                              *ngIf="employee.designation">{{ employee.designation.designation }}</span>
                                           </td>
                                           <td><span
                                              *ngIf="employee.emailId">{{ employee.emailId }}</span>
                                           </td>
                                           <td><span *ngIf="employee.education">
                                              {{ employee.education }} </span>
                                           </td>
                                           <td><span *ngIf="employee.pastExperience">
                                              {{ employee.pastExperience }} </span>
                                           </td>
                                           <td>
                                              <div class="add-control-btn">
                                                 <a class="btn btn-edit" title="Edit"
                                                    (click)="editFirmEmployee(employee)">
                                                    <fa name="edit"></fa>
                                                 </a>
                                              </div>
                                              <span *ngIf="false"
                                              (click)="removeEmployee(employee.emailId)">
                                              <a class="btn btn-remove">
                                                 <fa name="trash"></fa>
                                              </a>
                                              </span>
                                           </td>
                                        </tr>
                                     </tbody>
                                  </table>
                               </div>
                            </div>
                         </div>
                      </ng-template>
                   </ngb-tab>
                </ngb-tabset>
                <div class="row text-center">
                   <div class="col-12">
                      <div class="form-group">
                         <div class="loading-input-controls-manual" *ngIf="loading"><i
                            class="fa fa-spinner fa-pulse fa-1x fa-fw"></i></div>
                         <button [disabled]="loading" class="btn btn-primary"
                            title="{{title}}">{{title}}</button>
                         <input type="button" value="{{resetText}}" title="{{resetText}}"
                         (click)="formReset(f)" [disabled]="loading" class="btn btn-warning" />
                      </div>
                   </div>
                </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>
 <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" #cd>
    <p-footer>
       <button type="button" pButton label="Yes" (click)="cd.accept()"></button>
       <button type="button" pButton label="No" (click)="cd.reject()"></button>
    </p-footer>
 </p-confirmDialog>