<!--<div class="row">
    <div class="col-6">

        <canvas baseChart width="400" height="300"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="col-6">

        <canvas baseChart width="400" height="300"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHoveredBar($event)"
                (chartClick)="chartClickedBar($event)"></canvas>

        <button (click)="randomizeBar()">Update</button>
    </div>
    <div class="col-6">
        <canvas baseChart width="400" height="300"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                (chartHover)="chartHoveredPie($event)"
                (chartClick)="chartClickedPie($event)"></canvas>
    </div>
</div>-->




