<!-- <div class="h-100">

    <!-- h-100 takes the full height  
                 of the container-->
    <div class="row">
        <div class="col-2 sidebar h-100">
            <div class="col-auto mr-auto">
                <a class='navbar-brand' [routerLink]="['/home']"> <img class="img-fluid"
                        src="assets/dist/images/BEAT Foliosure white.svg" width="180px" />
                </a>
            </div>
            <nav-menu></nav-menu>
        </div>
        <div class="col-10">

          <!-- Top navbar -->
                <nav class="navbar navbar-expand-lg  
                                navbar-light bg-primary"> 
                    <a class="navbar-brand" href="#">Navbar</a> 
      
                </nav> 
            <div style="margin-left: 300px; text-align: justify;">
                <div class="padd-top"></div>
                <app-breadcrumb name="breadcrumb"></app-breadcrumb>
                <router-outlet name="master"></router-outlet>
            </div>
        </div>
    </div> 
</div>-->